{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'art' %}
  {{ super() }}
{% endblock seo %}

{% block body %}
  {% set page_class = "art single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <div class="blog-header">
            <h1>{{ page.title }}</h1>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          <img src="lossy.webp"><a href="lossless.webp">lossless image</a></img>
          <p>
            <table>
              <tr>
                <th>Software</th>
                <th>Render engine</th>
                <th>PBR materials</th>
              </tr>
              <tr>
                <td>{{ page.extra.software }}</td>
                <td>{{ page.extra.render_engine }}</td>
                <td>{{ page.extra.pbr_materials }}</td>
              </tr>
            </table>
          </p>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
          {{ page.content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
